<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{{ pageTitle }}</title>
        <meta name="description" content="I'm Ben, a designer based in the UK with 13 years' experience (6 as Lead Designer). I work with startups to design inclusive, effective, and impactful brands, websites, and digital products." />
        <meta name="keywords" content="designer, product designer uk, product designer, brand designer, freelance designer" />
        <meta name="author" content="Ben Bate" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" />
        <link rel="stylesheet" href="/bundle.css">
        <link rel="icon" type="image/png" href="/img/favicon.png" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <meta property="og:title" content="Ben Bate - Brand, Website & Digital Product Designer" />
        <meta property="og:type" content="website" />
        <meta property="og:image" content="/img/thumbnail.png" />
        <meta property="og:url" content="https://benbate.com" />
        <meta name="twitter:card" content="summary_large_image" />

        <meta property="og:description" content="I'm Ben, a designer based in the UK with 13 years' experience (6 as Lead Designer). I work with startups to design inclusive, effective, and impactful brands, websites, and digital products with design systems." />
        <meta property="og:site_name" content="Ben Bate - Brand, Website & Digital Product Designer" />
        <meta name="twitter:image:alt" content="Ben Bate Work Samples" />
    </head>

    <body class="m-5 sm:m-10 font-light text-black">

        {{ content }}

        <footer class="text-xs mt-4 sm:mt-8 flex justify-between">
            <span>© Copyright 2010-23</span><span>Made with <a href="https://tailwindcss.com" target="_blank">Tailwind</a> and <a href="https://www.11ty.dev" target="_blank">11ty</a></span>
        </footer>

    </body>

</html>